.pokedex {
  perspective: 1600px;
}

.pokedex-right {
  position: absolute;
  transform-origin: center left;
  transform: rotateY(-180deg);
  transition: 0.5s ease all;
  z-index: 50;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.pokedex-right-backside {
  right: 0px;
  bottom: 0px;
  position: absolute;
  border-radius: 20px 0 0 20px;
  top: -15px;
  left: 0;
  width: 104%;
  height: 101%;
  overflow: hidden;
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.pokedex.open .pokedex-right {
  transform: rotateY(0);
}
